@using ProjectManagementApp.Domain.Entities
@model ProjectManagementApp.Web.ViewModels.UserViewModel

<h4>User</h4>
<div>
    <div>
        <p><b>First name: </b>@Model.FirstName</p>
        <p><b>Last name: </b>@Model.LastName</p>
        @if (Model.Patronymic != null)
        {
            <p><b>Patronymic: </b>@Model.Patronymic</p>
        }
        <p><b>Email: </b>@Model.Email</p>
        <hr/>
        <p><b>Projects: </b></p>
        <ul>
            @foreach (var projects in Model.Projects)
            {
                <li>
                    @Html.ActionLink(
                        @projects.Name,
                        "ViewProject",
                        "Project",
                        new { id = @projects.Id },
                        null)
                </li>
            }
        </ul>
        <hr />
        <p>
            @Html.ActionLink(
                "Assigned issues",
                "ViewAssignedIssues",
                "Issue",
                new { userId = @Model.Id },
                null)
        </p>
        <p>
        @Html.ActionLink(
                "Reported issues",
                "ViewReportedIssues",
                "Issue",
                new { userId = @Model.Id },
                null)
        </p>
        

    </div>
    
    @if (User.IsInRole(Role.Supervisor.ToString()))
    {
        <div>
            <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-dark">Edit</a>
        </div>
        <br/>
        <div>
            @using (Html.BeginForm("Delete", "User", new {id = Model.Id}, FormMethod.Post))
            {
                <input type="submit" value="Delete"/>
            }
        </div>
    }
</div>
