@model ProjectManagementApp.Web.ViewModels.LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div asp-validation-summary="ModelOnly"></div>
    <div class="container">
        <h1>Log in</h1>
        <hr>
        <div>
            <b>@Html.LabelFor(m => m.Email)</b>
            <br />
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter email" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div>
            <b>@Html.LabelFor(m => m.Password)</b>
            <br />
            @Html.TextBoxFor(m => m.Password, new { placeholder = "Enter password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <hr>
        
        <div>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <input type="submit" value="Log in" />
            }
        </div>
        <br/>
        <div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                <input type="submit" value="Register" />
            }
        </div>
    </div>
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}