@model ProjectManagementApp.Web.ViewModels.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div asp-validation-summary="ModelOnly"></div>
    <div class="container">
        <h1>Register</h1>
        <hr>
        <div>
            <b>@Html.LabelFor(m => m.FirstName)</b>
            <br />
            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter first name" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div>
            <b>@Html.LabelFor(m => m.LastName)</b>
            <br />
            @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter last name" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div>
            <b>@Html.LabelFor(m => m.Patronymic)</b>
            <br />
            @Html.TextBoxFor(m => m.Patronymic, new { placeholder = "Enter patronymic" })
        </div>

        <div>
            <b>@Html.LabelFor(m => m.Email)</b>
            <br />
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter email" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        
        <div>
            <b>@Html.LabelFor(m => m.Password)</b>
            <br />
            @Html.TextBoxFor(m => m.Password, new { placeholder = "Enter password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        
        <div>
            <b>@Html.LabelFor(m => m.ConfirmPassword)</b>
            <br />
            @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Repeat password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <div>
            <b>@Html.LabelFor(m => m.Role)</b>
            <br />
            @Html.DropDownListFor(m => m.Role, @Model.Roles, "Select role")
            @Html.HiddenFor(m => m.Roles)
        </div>
        <hr>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <input type="submit" value="Register" />
        }
        <br/>
        <div>
            @Html.ActionLink("Log in", "Login", "Account")

        </div>
    </div>
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}