@model ProjectManagementApp.Web.ViewModels.EmployeeViewModel

<h4>Employee</h4>
<div>
    <div>
        <p><b>First name: </b>@Model.FirstName</p>
        <p><b>Last name: </b>@Model.LastName</p>
        @if (Model.Patronymic != null)
        {
            <p><b>Patronymic: </b>@Model.Patronymic</p>
        }
        <p><b>Email: </b>@Model.Email</p>
        <p><b>Projects: </b></p>
        <ul>
            @foreach (var projects in Model.Projects)
            {
                <li>@projects.Name</li>
            }
        </ul>
        <p>
            @Html.ActionLink("Assigned issues", "ViewAssignedIssues", "Issue", new { employeeId = @Model.Id }, null)
            @*<a asp-controller="Issue" asp-action="ViewAllIssues" asp-route-employeeId="@Model.Id" asp-route-sortOrder="" asp-route-issueKind="assignee" class="btn btn-outline-dark">See</a>*@
        </p>
        @*<a asp-controller="Issue" asp-action="ViewAllIssues" asp-route-issues="@Model.AssignedIssues" asp-route-sortOrder="" class="btn btn-outline-dark">See</a>*@
        <p>
            <b>Reported issues: </b>
            <a asp-controller="Issue" asp-action="ViewAllIssues" asp-route-employeeId="@Model.Id" asp-route-sortOrder="" class="btn btn-outline-dark">See</a>
        </p>
        @*<a asp-controller="Issue" asp-action="ViewAllIssues" asp-route-issues="@Model.ReportedIssues" asp-route-sortOrder="" class="btn btn-outline-dark">See</a>*@

    </div>
    
    <div>
        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-dark">Edit</a>
    </div>
    <br/>
    <div>
        @using (Html.BeginForm("Delete", "Employee", new {id = Model.Id}, FormMethod.Post))
        {
            <input type="submit" value="Delete"/>
        }
    </div>
</div>
