@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjectManagementApp.Domain.Entities
@model ProjectManagementApp.Web.ViewModels.IssueViewModel

<h4>Issue</h4>
<div>
    <div>
        <p><b>Name: </b>@Model.Name</p>
        <p><b>Reporter: </b>@Model.Reporter.Email</p>
        <p><b>Assignee: </b>@Model.Assignee.Email</p>
        <p><b>Project: </b>@Model.Project.Name</p>
        <p><b>Comment: </b>@Model.Comment</p>
        <p><b>Status: </b>@Model.Status</p>
        <p><b>Priority: </b>@Model.Priority</p>
    </div>

    <div>
        <a asp-controller="Issue" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-dark">EditAsyncAsyncAsync</a>
    </div>
    <br />
    @if (User.IsInRole(Role.Supervisor.ToString()) || User.IsInRole(Role.Manager.ToString()))
    {
        <div>
            @using (Html.BeginForm("Delete", "Issue", new { id = Model.Id }, FormMethod.Post))
            {
                <input type="submit" value="DeleteAsyncAsyncAsyncAsyncAsyncAsync" />
            }
        </div>
    }
</div>