@using ProjectManagementApp.Domain.Entities
@using ProjectManagementApp.Domain.QueryOrder
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IssuesViewModel

<h4>Issues</h4>

<hr />
<form>
    Name: <input type="text" />
    <input type="submit" value="Filter" />
</form>
<hr />

<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="ViewProjectIssues" asp-route-projectId="@Model.ProjectId" asp-route-order="Name" asp-route-direction="@Model.GetNextSortDirection("Name", SortDirection.Ascending)">Issue name</a>
        </th>
        <th>
            <a asp-action="ViewProjectIssues" asp-route-projectId="@Model.ProjectId" asp-route-order="Reporter" asp-route-direction="@Model.GetNextSortDirection("Reporter", SortDirection.Ascending)">Reporter</a>
        </th>
        <th>
            <a asp-action="ViewProjectIssues" asp-route-projectId="@Model.ProjectId" asp-route-order="Assignee" asp-route-direction="@Model.GetNextSortDirection("Assignee", SortDirection.Ascending)">Assignee</a>
        </th>
        <th>
            <a asp-action="ViewProjectIssues" asp-route-projectId="@Model.ProjectId" asp-route-order="Project" asp-route-direction="@Model.GetNextSortDirection("Project", SortDirection.Ascending)">Project</a>
        </th>
        <th>
            Comment
        </th>
        <th>
            <a asp-action="ViewProjectIssues" asp-route-projectId="@Model.ProjectId" asp-route-order="Status" asp-route-direction="@Model.GetNextSortDirection("Status", SortDirection.Ascending)">Status</a>
        </th>
        <th>
            <a asp-action="ViewProjectIssues" asp-route-projectId="@Model.ProjectId" asp-route-order="Priority" asp-route-direction="@Model.GetNextSortDirection("Priority", SortDirection.Ascending)">Priority</a>
        </th>
    </tr>
    </thead>
    @foreach (var issue in Model.Issues)
    {
        <tr>
            <td>
                @Html.ActionLink(
            @issue.Name,
            "ViewIssue",
            "Issue",
            new { id = @issue.Id },
            null)
            </td>
            <td>
                @if (User.IsInRole(Role.Supervisor.ToString()))
                {
                    @Html.ActionLink(
                        @issue.Reporter.Email,
                        "ViewUser",
                        "User",
                        new {id = @issue.Reporter.Id},
                        null)
                }
                else
                {
                    @issue.Reporter.Email
                }
            </td>
            <td>
                @if (User.IsInRole(Role.Supervisor.ToString()))
                {
                    @Html.ActionLink(
                        @issue.Assignee.Email,
                        "ViewUser",
                        "User",
                        new {id = @issue.Assignee.Id},
                        null)
                }
                else
                {
                    @issue.Assignee.Email
                }
            </td>
            <td>
                @Html.ActionLink(
            @issue.Project.Name,
            "ViewProject",
            "Project",
            new { id = @issue.Project.Id },
            null)
            </td>
            <td>
                @issue.Comment
            </td>
            <td>
                @issue.Status
            </td>
            <td>
                @issue.Priority
            </td>
        </tr>
    }
</table>