@using ProjectManagementApp.Domain.Entities
@model ProjectManagementApp.Web.ViewModels.UserViewModel?

﻿@if (!User.Identity.IsAuthenticated)
{
<span style="display: inline; float: left">
    <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Login">Create employee</a>
    <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Login">Create project</a>
</span>
}
@if (User.IsInRole(Role.Employee.ToString()) && Model != null)
{
    <a asp-controller="User" asp-action="ViewUser" asp-route-id="@Model.Id">My profile</a>
    <hr/>
    <span style="display: inline; float: left">
        <a class="btn btn-outline-dark" asp-controller="Project" asp-action="GetEmployeeProjects" asp-route-employeeId="@Model.Id">My projects</a>
        <a class="btn btn-outline-dark" asp-controller="Issue" asp-action="ViewAssignedIssues" asp-route-userId="@Model.Id">My issues</a>
    </span>
}

@if (User.IsInRole(Role.Manager.ToString()) && Model != null)
{
    <a asp-controller="User" asp-action="ViewUser" asp-route-id="@Model.Id">My profile</a>
    <hr/>
    <span style="display: inline; float: left">
        <a class="btn btn-outline-dark" asp-controller="Project" asp-action="GetManagerProjects" asp-route-managerId="@Model.Id">My projects</a>
        <a class="btn btn-outline-dark" asp-controller="Issue" asp-action="ViewReportedIssues" asp-route-userId="@Model.Id">My issues</a>
    </span>
}

@if (User.IsInRole(Role.Supervisor.ToString()) && Model != null)
{
    <a asp-controller="User" asp-action="ViewUser" asp-route-id="@Model.Id">My profile</a>
    <hr/>
    <span style="display: inline; float: left">
        <a class="btn btn-outline-dark" asp-controller="User" asp-action="CreateUser">Create employee</a>
        <a class="btn btn-outline-dark" asp-controller="Project" asp-action="CreateProject">Create project</a>
    </span>
}

