@model ProjectManagementApp.Web.ViewModels.EditProjectEmployeesViewModel

<h4>EditAsync project @Model.Project.Name employees</h4>
<br/>

@Html.HiddenFor(m => m.Project)
@Html.HiddenFor(m => m.ProjectEmployees)
@Html.HiddenFor(m => m.AllEmployees)

<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                    Project employees
            </th>
            <th>
            </th>
        </tr>
        </thead>
        @foreach (var employee in Model.ProjectEmployees)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                        @employee.Email,
                        "ViewUser",
                        "User",
                        new { id = @employee.Id },
                        null)

                    @if (Model.Project.Manager != null && Model.Project.Manager.Id == employee.Id)
                    {
                        <i> Manager</i>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromProject", "User", new { projectId = Model.Project.Id, userId = employee.Id }, FormMethod.Post))
                    {
                        <input type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                    Add employees
            </th>
            <th>
            </th>
        </tr>
        </thead>
        @foreach (var employee in @Model.AllEmployees)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                        @employee.Email,
                        "ViewUser",
                        "User",
                        new { id = @employee.Id },
                        null)
                </td>
                <td>
                    @using (Html.BeginForm("AddToProject", "User", new { projectId = Model.Project.Id, userId = employee.Id }, FormMethod.Post))
                    {
                        <input type="submit" value="Add" />
                    }
                </td>
            </tr>
        }
    </table>
</div>
