@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjectManagementApp.Domain.QueryOrder
@model ProjectsViewModel

<h2>Projects<a class="btn btn-outline-dark" asp-controller="Project" asp-action="CreateProject" style="float: right">Create a new project</a></h2>

<hr/>
<form asp-controller="Project" asp-action="GetAllProjects" asp-route-filter="" method="get">
    Name: <input type="search" name="Name" asp-for="Filter" />
    <input type="submit" value="Filter" />
</form> 
<hr/>

@if (Model.Projects.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>
                <a asp-action="GetAllProjects" asp-route-order="Name" asp-route-direction="@Model.GetNextSortDirection("Name", SortDirection.Ascending)">Project name</a>
            </th>
            <th>
                <a asp-action="GetAllProjects" asp-route-order="ClientCompanyName" asp-route-direction="@Model.GetNextSortDirection("ClientCompanyName", SortDirection.Ascending)">Client company</a>
            </th>
            <th>
                <a asp-action="GetAllProjects" asp-route-order="ExecutorCompanyName" asp-route-direction="@Model.GetNextSortDirection("ExecutorCompanyName", SortDirection.Ascending)">Executor company</a>
            </th>
            <th>
                <a asp-action="GetAllProjects" asp-route-order="Manager" asp-route-direction="@Model.GetNextSortDirection("Manager", SortDirection.Ascending)">Manager</a>
            </th>
            <th>
                <a asp-action="GetAllProjects" asp-route-order="StartDate" asp-route-direction="@Model.GetNextSortDirection("StartDate", SortDirection.Ascending)">Start date</a>
            </th>
            <th>
                <a asp-action="GetAllProjects" asp-route-order="EndDate" asp-route-direction="@Model.GetNextSortDirection("EndDate", SortDirection.Ascending)">End date</a>
            </th>
            <th>
                <a asp-action="GetAllProjects" asp-route-order="Priority" asp-route-direction="@Model.GetNextSortDirection("Priority", SortDirection.Ascending)">Priority</a>
            </th>
        </tr>
        </thead>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                        @project.Name,
                        "ViewProject",
                        "Project",
                        new { id = @project.Id },
                        null)
                </td>
                <td>
                    @project.ClientCompanyName
                </td>
                <td>
                    @project.ExecutorCompanyName
                </td>
                <td>
                    @if (project.Manager?.Email != null)
                    {
                        @Html.ActionLink(
                            @project.Manager.Email,
                            "ViewUser",
                            "User",
                            new { id = @project.Manager.Id },
                            null)
                    }
                </td>
                <td>
                    @project.StartDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @project.EndDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @project.Priority
                </td>
            </tr>
        }
    </table>
}
else
{
    <h6>There is no projects.</h6>
}