@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ProjectManagementApp.Web.ViewModels.ProjectViewModel>

<h2>Projects<a class="btn btn-outline-dark" asp-controller="Project" asp-action="CreateProject" style="float: right">Create a new project</a></h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>
                <a asp-action="GetAllProjects" asp-route-sortOrder="@ViewData["NameSortParam"]">Project name</a>
            </th>
            <th>
                Customer
            </th>
            <th>
                Executor
            </th>
            <th>
                Manager
            </th>
            <th>
                <a asp-action="GetAllProjects" asp-route-sortOrder="@ViewData["StartDateSortParam"]">Start date</a>
            </th>
            <th>
                <a asp-action="GetAllProjects" asp-route-sortOrder="@ViewData["EndDateSortParam"]">End date</a>
            </th>
            <th>
                <a asp-action="GetAllProjects" asp-route-sortOrder="@ViewData["PrioritySortParam"]">Priority</a>
            </th>
        </tr>
        </thead>
        @foreach (var project in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                        @project.Name,
                        "ViewProject",
                        "Project",
                        new { id = @project.Id },
                        null)
                </td>
                <td>
                    @project.ClientCompanyName
                </td>
                <td>
                    @project.ExecutorCompanyName
                </td>
                <td>
                    @if (project.Manager.Email != null)
                    {
                        @Html.ActionLink(
                            @project.Manager.Email,
                            "ViewUser",
                            "User",
                            new { id = @project.Manager.Id },
                            null)
                    }
                </td>
                <td>
                    @project.StartDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @project.EndDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @project.Priority
                </td>
            </tr>
        }
    </table>
}
else
{
    <h6>There is no projects.</h6>
}