@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjectManagementApp.Domain.QueryOrder
@model ProjectsViewModel

<h2>Projects</h2>

@if (Model.Projects.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="GetEmployeeProjects" asp-route-employeeId="@Model.EmployeeId" asp-route-order="Name" asp-route-direction="@Model.GetNextSortDirection("Name", SortDirection.Ascending)">Project name</a>
                </th>
                <th>
                    <a asp-action="GetEmployeeProjects" asp-route-employeeId="@Model.EmployeeId" asp-route-order="ClientCompanyName" asp-route-direction="@Model.GetNextSortDirection("ClientCompanyName", SortDirection.Ascending)">Client company</a>
                </th>
                <th>
                    <a asp-action="GetEmployeeProjects" asp-route-employeeId="@Model.EmployeeId" asp-route-order="ExecutorCompanyName" asp-route-direction="@Model.GetNextSortDirection("ExecutorCompanyName", SortDirection.Ascending)">Executor company</a>
                </th>
                <th>
                    <a asp-action="GetEmployeeProjects" asp-route-employeeId="@Model.EmployeeId" asp-route-order="Manager" asp-route-direction="@Model.GetNextSortDirection("Manager", SortDirection.Ascending)">Manager</a>
                </th>
                <th>
                    <a asp-action="GetEmployeeProjects" asp-route-employeeId="@Model.EmployeeId" asp-route-order="StartDate" asp-route-direction="@Model.GetNextSortDirection("StartDate", SortDirection.Ascending)">Start date</a>
                </th>
                <th>
                    <a asp-action="GetEmployeeProjects" asp-route-employeeId="@Model.EmployeeId" asp-route-order="EndDate" asp-route-direction="@Model.GetNextSortDirection("EndDate", SortDirection.Ascending)">End date</a>
                </th>
                <th>
                    <a asp-action="GetEmployeeProjects" asp-route-employeeId="@Model.EmployeeId" asp-route-order="Priority" asp-route-direction="@Model.GetNextSortDirection("Priority", SortDirection.Ascending)">Priority</a>
                </th>
            </tr>
        </thead>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                        @project.Name,
                        "ViewProject",
                        "Project",
                        new { id = @project.Id },
                        null)
                </td>
                <td>
                    @project.ClientCompanyName
                </td>
                <td>
                    @project.ExecutorCompanyName
                </td>
                <td>
                    @if (project.Manager?.Email != null)
                    {
                        @project.Manager.Email
                    }
                </td>
                <td>
                    @project.StartDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @project.EndDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @project.Priority
                </td>
            </tr>
        }
    </table>
}
else
{
    <h6>You have no projects.</h6>
}